body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family: -webkit-pictograph,serif;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}
#resizer{
    position:absolute;
    right:-5px;
    bottom:-5px;
    width:12px;
    height:12px;
    background-color:rgba(128,128,128,0.6);
    transform:rotate(45deg);
}
#container{
    color:white;
    text-shadow: 0px 0px 3px #DAA520;
    font-size:13px;
    line-height:1.6;
    background-color:rgba(0,0,0,0.3);
    border-radius:8px;
    margin-right:8px;
    padding:3px;
}

.hover-scale:hover{
    transform:scale(1.2);
    background-color:#80ffff;
}

.circle{
    margin:0 3px;
    width:0.8em;
    height:0.8em;
    background-color:#FFFFDD;
    box-shadow:0 0 3px #DAA520;
    display:inline-block;
    border-radius: 0.4em;
    cursor: pointer;
}
.title{
    font-size:1.2;
    padding:3px 0px;
    position:relative;
}
.title-border{
    height:1px;
    background-color:white;
    box-shadow:0 0 3px #DAA520;
    margin-bottom:5px;
}

.at-right{
    position:absolute;
    right:3px;
    top:3px;
}
.at-right-nextline{
    position: relative;
    right:0;
    top:0;
    display: block;
    width:100%;
    text-align: right;
}
.job-img{
    width:1.5em;
    height:1.5em;
}
.log-job-img{
    width:1.2em;
    height:1.2em;
}
.filler{
    background-color:rgba(255,255,255,0.2);
    position: absolute;
    left:0;
    border-radius: 5px;
    border:1px solid rgba(255,255,255,0.4);
    z-index:-1;
    transition: width 0.5s;
}
.filler-fill{
    top:0;
    height:1.5em;
}
.filler-line{
    bottom:0;
    height:0.1em;
}
.text-center{
    text-align: center;
}

.combatants-enter,
.combatants-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.combatants-enter-active,
.combatants-leave-active {
    transition: all 0.5s ease;
}
        
.combatants-move {
    transition: all 0.5s ease;
}

.series-names{
    /* padding:0px 3px; */
    margin-left:5px;
    display:inline-block;
    /* border:1px solid transparent;
    border-radius:3px; */
}
.active-series{
    color:#80ffff;
    /* border-color:#FFFFDD; */
}
.series-names:hover{
    color:#80ffff;
}

.flip-list-move {
    transition: transform 1s;
}
.flip-list-enter,
.flip-list-leave-to {
    opacity: 0;
    transform: translateY(20px);
}

.flip-list-enter-active,
.flip-list-leave-active {
    transition: all 0.5s ease;
}


ul{
    list-style:none; 
    padding:0px; 
    margin:0px;
    display:flex;
    position: relative;
}
ul li{
    flex:auto;
    height: 1.8em;
    line-height: 1.8em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden-text{
    color:transparent;
    text-shadow: 0px 0px 10px #DAA520;
}
[v-cloak]{
    display:none;
}
ul li.log-data{
    flex: 0 0 70%;
    text-align: left;
    white-space: normal;
    overflow:auto;
    text-emphasis: none;
    height:auto;
}
span.log-data{
    font-size: 1.1em;
    font-weight: bold;
    font-family: Avenir,Arial,sans-serif;
    text-shadow: 0 0 3px black;
}

.log-100{
    color:rgb(229,204,128);
}
.log-99{
    color:rgb(226,104,168);
}
.log-95{
    color:rgb(255,128,0);
}
.log-75{
    color:rgb(163,53,238);
}
.log-50{
    color:rgb(0,112,255);
}
.log-25{
    color: rgb(30,255,0);
}
.log-9{
    color: #666;
}


.select>.select-option{
    background-color: rgba(0,0,0,0.7);
    width:auto;
    position: absolute;
    overflow-x: hidden;
    visibility: hidden;
    padding:3px 10px 3px 3px;
    border:1px solid rgba(255,255,255,0.3);
    border-radius:0.5em;
    overflow-y: scroll;
    height:6em;
}
.select-option::-webkit-scrollbar{
    width:0;
}
.select-open>.select-option{
    visibility: visible;
}
.select-open>.select-option>div:hover{
    background-color:rgba(255,255,255,0.3);
}