<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <script src="./config/ccino/vue.min.js"></script> -->
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
	<title>Ccino dps</title>
	<link href="./index.css" rel="stylesheet" />
</head>
<body class="noselect">
	<div id="resizer"></div>
	<div id="container" :style="{fontSize:option.fontSize+'px'}">
		<div class="title" @dblclick="openSetting">
			<span v-if="!encounter.title">
				暂无数据
			</span>
			<template v-else>
				<span v-if="isActive">*</span>
				{{encounter.CurrentZoneName}} - {{encounter.duration}}
				<span class="at-right">
					<span v-if="myDps"># {{myOrder}} &nbsp; {{myDps|round}} / </span>
					{{encounter.dps|round}}</span>
			</template>

			<span class="circle hover-scale" @click="mini"></span>
			<span style="cursor: pointer;" @click="openSetting">┅</span>
			
			<template v-if="option.series.length>1">
				<span class="series-names" v-for="series,i in option.series" @click="changeDataType(i)"
				:class="{'active-series':currentSeries==series}">
					{{series.name}}
				</span>
			</template>
		</div>
		<div v-show="!miniStyle">
			<div class="title-border"></div>
			<table class="dps-table">
				<tr v-if="option.showColumnHeader">
					<th width="20px"></th>
					<th width="30%"></th>
					<th v-for="column in currentSeries.columns" :width="column.size?column.size+'%':'auto'"
						:style="{textAlign:column.textAlign||'left'}">
						<template>{{column.name}}</template>
					</th>
				</tr>
				<tr v-for="c in combatants">
					<td width="20px">
						<img class="job-img" 
						:src="'./icons/'+(c.Job||'Err')+'.png'" 
						onerror="this.style.opacity='0'"/>
						<div class="filler" :style="{width:'calc('+ getPercentWidth(c) + '% - 18px)', 
							backgroundColor:option.colors[jobType[c.Job]]}"></div>
						
					</td>
					<td width="30%">{{c.name}}</td>
					<td v-for="column in currentSeries.columns" :width="column.size?column.size+'%':'auto'"
						:style="{textAlign:column.textAlign||'left'}">
						<template>{{column.prefix}}</template>
						<template v-if="column.round">{{c[column.value] | round}}</template>
						<template v-else>{{c[column.value]}}</template>
						<template>{{column.suffix}}</template>
					</td>
				</tr>
			</table>
		</div>
	</div>

	<script src="./index.js"></script>
</body>
</html>