<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<!-- <script src="./config/ccino/vue.min.js"></script> -->
	<script src="./common.js?v=5"></script>
	<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>
	<title>Ccino dps</title>
	<link href="./index.css?v=5" rel="stylesheet" />
</head>
<body class="noselect">
	<div id="resizer"></div>
	<div id="container" :style="{fontSize:option.fontSize+'px', 'background-color':option.colors.background}" v-cloak>
		<div class="title" @dblclick="openSetting">
			<span id="title-left">
				<span v-if="!encounter.title">
					暂无数据
				</span>
				<template v-else>
					<!-- <span v-if="isActive">*</span> -->
					<span>
						{{encounter.CurrentZoneName}} - {{encounter.duration}}
					</span>
				</template>

				<span class="circle hover-scale" @click="mini"></span>
				
				<template v-if="option.series.length>1">
					<span class="series-names" v-for="series,i in option.series" @click="changeDataType(i)"
					:class="{'active-series':currentSeries==series}">
						{{series.name}}
					</span>
				</template>
			</span>

			<span v-show="encounter.title">
				<span :class="{'at-right-nextline':titleNextLine,
							'at-right':!titleNextLine}" >
					<span id="title-right">
						<span v-if="myDps"># {{myOrder}} &nbsp; {{myDps|round}} / </span>
						{{encounter.dps|round}}</span>
					</span>
			</span>
		</div>
		<div v-show="!miniStyle">
			<div class="title-border"></div>

			<ul v-if="showColumnHeader" style="font-weight: bold;">
				<li style="flex: 0 0 1.5em;"></li>
				<li :style="{flex: '0 0 '+option.nameColumnWidth+'%'}"></li>
				<li v-for="column in currentSeries.columns" 
					:style="{textAlign:column.textAlign||'left',
						flex:column.size?('0 0 '+column.size+'%'):('auto')}">
					<template>{{column.name}}</template>
				</li>
			</ul>
			<div is="transition-group" :name="option.animationOff?'':'flip-list'">
				<ul v-for="c in combatants" :key="c.name">
					<li style="flex: 0 0 1.5em;" >
						<img class="job-img" 
						:src="'./icons/'+(c.Job||'Err')+'.png'" 
						onerror="this.style.opacity='0'"/>
						<div class="filler" :style="{width: getPercentWidth(c) + '%', 
							backgroundColor:getJobColor(c.Job)}"></div>
					</li>
					<li :style="{flex: '0 0 '+option.nameColumnWidth+'%'}" :class="{'hidden-text':option.hiddenOthers&&c.name!='YOU'}">
						{{c.name}}
					</li>
					<li v-for="column in currentSeries.columns" 
						:style="{textAlign:column.textAlign||'left',
								flex:column.size?('0 0 '+column.size+'%'):('auto')}">
						<template>{{column.prefix}}</template>
						<template v-if="column.round">{{c[column.value] | round}}</template>
						<template v-else>{{c[column.value]}}</template>
						<template>{{column.suffix}}</template>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<script src="./index.js?v=5.1"></script>
</body>
</html>