body{
    width:100%;
    height:100%;
    overflow:hidden;
    font-family: -webkit-pictograph,serif;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
[v-cloak]{
    display:none;
}
